task:
  name: 'ci/cirrusci: test-freebsd'
  freebsd_instance:
    image_family: freebsd-14-0 # https://cirrus-ci.org/guide/FreeBSD/
  env:
    SED: gsed
    PIP_CACHE_DIR: $CIRRUS_WORKING_DIR/cache/pip
    # VENVDIR should not be cached: Cirrus CI drops bin/python for some reason when saving cache
    CLONE_SHA: "{{ GITHUB_SHA }}"
    CLONE_URL: "{{ GITHUB_SERVER_URL }}/{{ GITHUB_REPOSITORY }}.git"
  before_script:
    - pkg update
    - pkg install -y
        python3
        gmake
        curl
        coreutils
        bash
        gsed
        git
    - ln -sf /usr/local/bin/gsha256sum /sbin/sha256sum
    - which sha256sum
    - sha256sum --version
    - pw useradd -n testuser -m -w random
  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"
  venv_cache:
    folder: cache
    fingerprint_script:
      - echo "Cache ID: 1"
      - cat tests/requirements.txt
  test_script:
    - chown -R testuser .
    - su testuser -c 'gmake test'
