task:
  name: 'ci/cirrusci: test-macos'
  macos_instance:
    image: ghcr.io/cirruslabs/macos-ventura-base:latest
  env:
    SED: gsed
    PIP_CACHE_DIR: $CIRRUS_WORKING_DIR/cache/pip
    # VENVDIR should not be cached: Cirrus CI drops bin/python for some reason when saving cache
    CLONE_SHA: "{{ GITHUB_SHA }}"
    CLONE_URL: "{{ GITHUB_SERVER_URL }}/{{ GITHUB_REPOSITORY }}.git"
  clone_script:
    - git clone "$CLONE_URL" .
    - git reset --hard "$CLONE_SHA"
  venv_cache:
    folder: cache
    fingerprint_script:
      - echo "Cache ID: macOS Big Sur"
      - cat tests/requirements.txt
  before_script:
    - brew install coreutils gnu-sed bash make
  test_script:
    - gmake test
